__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstallerhave 
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
.ruff_cache/

# Translations
*.mo
*.pot

# Scrapy
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
Pipfile.lock

# poetry
poetry.lock

# PDM
pdm.lock
.pdm.toml

# Hatch
.hatch/

# pyright/mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pyre
.pyre/

# pytype
.pytype/

# Caches
__pypackages__/

# Editor/project files
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# Virtual environments
.env
.venv
env/
venv/
**/.env
**/.venv
**/env/
**/venv/
ENV/
env.bak/
venv.bak/

# dotenv anywhere
**/.env
**/.env.*
**/*.env

uv.lock

# Node (changesets tooling)
node_modules/
package.json
